@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #EBD8C7, #EAC1A5);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(141, 114, 96, 0.568);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #E6920B;
    text-align: center;
    text-shadow: 1px 1px 2px #794c05de;
}
h2{
    color: #165483;
}
p{
    text-align: justify;
}
